<!-- Main content -->
<div class="py-20">
    {{template "page-heading" 
        dict 
            "Title" "Government Solutions" 
            "Subtitle" "Streamline government processes and improve citizen services with Blue's secure, compliant platform." 
            "MarginBottom" "mb-8"
    }}

    {{$logoData := parseJSON `{
        "logos": [
            { "name": "Tennessee State Government", "src": "/customers/tennessee_state_government.webp" },
            { "name": "US Navy", "src": "/customers/us-navy.png" },
            { "name": "World Food Programme", "src": "/customers/wfp.svg" },
            { "name": "Government of South Australia", "src": "/customers/government_of_south_australia.png" },            
            { "name": "Civil Service College", "src": "/customers/civil_service_college_.png" },
           
            { "name": "Seychelles Revenue Commission", "src": "/customers/seychelles_revenue_commission.png" },
            { "name": "Pembroke Park Town", "src": "/customers/pembroke_park.png" },
            { "name": "Department of Education", "src": "/customers/department_of_education.png" }
          

        ]
    }`}}
    
    {{template "logo-grid-large" $logoData}}

</div>