<!-- FAQ Page -->
<div class="py-20">
    {{template "page-heading" 
        dict 
            "Title" "Frequently Asked Questions" 
            "Subtitle" "We've answered the most common questions about Blue. If you have any other questions, email help@blue.cc" 
            "MarginBottom" "mb-16"
    }}
    
    {{$faqData := parseJSON `{
        "categories": [
            {
                "id": "general",
                "name": "General",
                "questions": [
                    {
                        "question": "What is Blue?",
                        "answer": "Blue is a general purpouse process management platform that can be used to manage a variety of processes across organizations. It helps staff to understand what they have to do, managesr to have oversight, and for everyone to stay aligned."
                    },
                    {
                        "question": "What are the key benefits of using Blue?",
                        "answer": "Blue offers robust features to help teams organize work and collaborate effectively. Key benefits include customizable workflows, intelligent automation, real-time communication, and powerful analytics."
                    },
                    {
                        "question": "When was Blue started?",
                        "answer": "Blue was founded in April 2018 due to a frustration with existing process and project management platforms."
                    },
                    {
                        "question": "Where is Blue based?",
                        "answer": "Blue is a US Company (Delaware C Corp) with a fully remote team based in the Americas, Europe, and Asia."
                    },
                    {
                        "question": "Is Blue available in another languages besides English?",
                        "answer": "Yes, Blue is available in 24 languages.\n\nArabic (ar), Bengali (bn), Chinese (zh), Czech (cz), English (en), French (fr), Georgian (ka), German (de), Hindi (hi), Hungarian (hu), Indonesian (id), Italian (it), Japanese (ja), Khmer (km), Korean (ko), Latvian (lv), Marathi (mr), Portuguese (pt), Romanian (ro), Russian (ru), Spanish (es), Swedish (se), Thai (th), and Vietnamese (vi)."
                    }
                ]
            },
            {
                "id": "pricing",
                "name": "Pricing & Plans",
                "questions": [
                    {
                        "question": "How much does Blue cost?",
                        "answer": "Blue has one main plan with monthly and yearly options: \n\n • Monthly plan: $7/month/user. \n • Yearly plan: $70/year/user (so you get two months free)"
                    },
                     {
                        "question": "Which user roles count as a paid role?",
                        "answer": "These users roles are paid:\n\n• Project Administrator\n• Team Member\n• Custom User Roles\n\nAnd these user roles are free:\n\n• Clients\n• Comment Only\n• View Only"
                    },
                    {
                        "question": "How does the Blue free trial work?",
                        "answer": "The free trial provides full access to all Blue features for 7 days. No credit card is required to start. If you wish to continue, you can upgrade to our paid plan at the end of the free trial and you will also have an option to extend your trial for another 7 days.\n\nYou can always email us at help@blue.cc if you need a longer trial or you want personalized onboarding."
                    },
                    {
                        "question": "What's the White Label Plan?",
                        "answer": "The White Label Plan is an optional add-on, priced at $200/year per company, that allow you to fully customize the branding of Blue to make it look like your own process system. This means that you can run Blue on your own domain, emails will come from your emaill addresses, and that you can add your logo and brand colours. "
                    },
                    {
                        "question": "What's the Enterprise Plan?",
                        "answer": "The Blue Enterprise plan is for medium to large companies that want to make Blue a core part of their operational processes and have dedicated support and engineering resources on their account. This allow Blue to customize the platform for their specific requirements."
                    },
                     {
                        "question": "Are there discounts for non-profits or educational institutions?",
                        "answer": "Yes, Blue offers 50% discounted on listed prieces for registered non-profits, non-commercial educational institutions, and open-source projects."
                    }
                ]
            },
            {
                "id": "features",
                "name": "Features & Functionality",
                "questions": [
                    {
                        "question": "What integrations does Blue support?",
                        "answer": "Blue has 5,000+ integrations via Make.com, Zapier, Pabbly Connect, Albato, and Boost.Space. We also have a full API for custom integrations and granular Webhooks."
                    },
                    {
                        "question": "What supports options are available?",
                        "answer": "We offer email us at help@blue.cc. We also offer paid support packages for large-scale imports, full-team onboarding, priority chat support, and regular training. Email us at help@blue.cc to learn more."
                    },
                    {
                        "question": "Can I import my existing data into Blue?",
                        "answer": "Yes, Blue supports bulk data import from CSV files. This allows you to migrate up to 200,000 records simultaneously and is perfect for migration from manual Excel workflows or other work management systems. You can reach out to help@blue.cc if you have questions about importing your data or to enquire about paid support packages."
                    },
                    {
                        "question": "Does Blue have Mobile Apps?",
                        "answer": "Yes, native iOS and Android apps are available to access Blue on the go. Core functionality like tasks, comments, and calendars sync across devices."
                    },
                    {
                        "question": "How do permissions work in Blue?",
                        "answer": "Permissions are set at the project level, so users can have different access levels across projects based on their roles. Blue has a powerful custom user roles system that allows you to define the precise access for each user group in each project."
                    },
                    {
                        "question": "Can I customize the interface and workflows in Blue?",
                        "answer": "Yes, you can completely customize fields, views, automation rules, forms, and more to match your work requirements. You can choose the colour of the interface and upload your company logo. We also allow you to have a custom domain."
                    },
                    {
                        "question": "What analytics does Blue provide?",
                        "answer": "Blue offers real-time dashboards and cross-project reporting to analyze progress, productivity, and trends."
                    },
                    {
                        "question": "Can I export my data from Blue?",
                        "answer": "Yes, you can export all your Blue data anytime via the API or bulk CSV Export. You own your data, and it is always accessible."
                    },
                    {
                        "question": "What file storage limits exist in Blue?",
                        "answer": "Blue offers 500GB of storage space per customer. Additional "
                    },
                                        {
                        "question": "Where do I submit feature requests for Blue?",
                        "answer": "We'd love to hear your feature ideas! You can email us directly at help@blue.cc or join our community forums at https://ask.blue.cc"
                    }
                ]
            },
            {
                "id": "security",
                "name": "Security",
                    "questions": [
                    {
                        "question": "Is Blue GDPR compliant?",
                        "answer": "Yes, Blue is fully GDPR-compliant. For details, see our GDPR policy at https://blue.cc/legal/gdpr"
                    },
                    {
                        "question": "Is Blue HIPAA compliant?",
                        "answer": "Yes, Blue is HIPAA-compliant, so you can upload healthcare-related data. Learn more in our HIPAA policy at https://blue.cc/legal/hippa"
                    },
                    {
                        "question": "How is data encrypted in Blue?",
                        "answer": "Blue uses bank-level encryption for both data at rest and in transit. \n\n • Data at rest is encrypted with 256-bit AES encryption. \n • Data in transit is protected with TLS 1.2+ (or higher) protocols. \n\nThis ensures your information is secure at all times."
                    }
                ]
            }
        ]
    }`}}
    
    {{template "faq-sections" $faqData}}
</div>

